.footer {
    padding: 30px 25px;
    background-color: $bg_color3;
    color: $text_color2;
    & img {
        width: 120px;
        @include fill_logo;
        margin: 0 0 15px 0;
    }
    &__menu {
        @include desktop {
            display: flex;
            column-gap: 20px;
            ;
        }
    }
    &__menu li {
        margin: 0 0 10px 0;
        & i {
            width: 15px;
            margin: 0 10px 0 0;
        }
        & a {
            color: inherit;
        }
    }
}