.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    width: 100%;
    background-color: $bg_color1;
    position: relative;
    &__logo {
        width: 165px;
    }
    & i {
        position: absolute;
        left: 15px;
        font-size: 18px;
    }
}