@import url(/Users/caslan/Desktop/OMF/sass/vendors/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

/*
.main_container {
    max-width: 1280px;
    margin: 0 auto;
}
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.header__logo {
  width: 165px;
}

.header a {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: #000;
}

.footer {
  padding: 30px 25px;
  background-color: #353535;
  color: #fff;
}

.footer img {
  width: 120px;
  -webkit-filter: invert(97%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(103%) contrast(101%);
          filter: invert(97%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(103%) contrast(101%);
  margin: 0 0 15px 0;
}

@media only screen and (min-width: 992px) {
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.footer__menu li {
  margin: 0 0 10px 0;
}

.footer__menu li i {
  width: 15px;
  margin: 0 10px 0 0;
}

.footer__menu li a {
  color: inherit;
}

.location_pick {
  background-color: #eaeaea;
  height: 50px;
  -webkit-box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #353535;
}

.location_pick span {
  font-weight: 400;
}

.location_pick i {
  padding-right: 18px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
  background-color: #f6f6f6;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .hero {
    row-gap: 15px;
  }
}

.hero__description {
  width: 350px;
  margin: 20px 0 35px 0;
}

@media only screen and (min-width: 992px) {
  .hero__description {
    width: 500px;
  }
}

.hero h2 {
  width: 250px;
}

@media only screen and (min-width: 992px) {
  .hero h2 {
    width: 500px;
  }
}

.hero__btn {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.hero__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: -webkit-gradient(linear, left bottom, left top, from(#a16be0), to(#ff93e1)) !important;
  background: linear-gradient(0deg, #a16be0, #ff93e1) !important;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.fonctionnement {
  width: 100%;
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .fonctionnement {
    padding: 50px 15px;
  }
}

.fonctionnement h2 {
  margin: 0 0 30px 0;
}

.fonctionnement__steps {
  counter-reset: my-awesome-counter;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .fonctionnement__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.fonctionnement__step {
  margin: 0 0 0.5rem 0;
  counter-increment: stepnumbers;
  position: relative;
  width: 100%;
  padding: 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 400;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.fonctionnement__step i {
  color: #7e7e7e;
  margin: 0 20px 0 0;
  font-size: 18px;
}

.fonctionnement__step:hover {
  background-color: #f5edff;
}

.fonctionnement__step:hover > i {
  color: #9356DC;
}

.fonctionnement__step::before {
  content: counter(stepnumbers);
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: -10px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  top: 22px;
  background: #9356DC;
  border-radius: 50%;
  text-align: center;
}

.restaurants {
  padding: 50px 15px;
  background-color: #f6f6f6;
}

.restaurants h2 {
  margin: 0 0 30px 0;
}

.restaurants .restaurantsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .restaurants .restaurantsList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .restaurants .restaurantsList li {
    width: 25%;
  }
}

.restaurants .restaurantsList__card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  position: relative;
}

.restaurants .restaurantsList__card .new_badge {
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
  border-radius: 5px;
}

.restaurants .restaurantsList__card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
}

.restaurants .restaurantsList__card .card__info {
  padding: 15px;
  position: relative;
}

.restaurants .restaurantsList__card .card__info h3 {
  margin-bottom: 5px;
}

.restaurants .restaurantsList__card .card__info i {
  right: 25px;
  top: 25px;
  position: absolute;
  font-size: 28px;
  z-index: 0;
}

.restaurants .restaurantsList__card .card__info i:hover {
  opacity: 1;
}

.restaurants .restaurantsList__card .card__info i:hover::after {
  opacity: 1;
}

.restaurants .restaurantsList__card .card__info i::after {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  z-index: 1;
  opacity: 0;
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loaderwrap {
  -webkit-animation: loader 3s;
          animation: loader 3s;
  visibility: hidden;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lds-ring {
  -webkit-animation: loaderopacity 2.5s;
          animation: loaderopacity 2.5s;
  visibility: hidden;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9356DC transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes loaderopacity {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loaderopacity {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.btn {
  display: block;
  background: #ad5fdc;
  background: -webkit-gradient(linear, left bottom, left top, from(#ad5fdc), to(#ee74da));
  background: linear-gradient(0deg, #ad5fdc 0%, #ee74da 100%);
  color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  text-align: center;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
