@import url(/Users/caslan/Desktop/OMF/sass/vendors/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.header__logo {
  width: 165px;
}

.header a {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: #000;
}

.footer {
  padding: 30px 25px;
  background-color: #353535;
  color: #fff;
}

.footer img {
  width: 120px;
  -webkit-filter: invert(97%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(103%) contrast(101%);
          filter: invert(97%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(103%) contrast(101%);
  margin: 0 0 15px 0;
}

.footer__menu li {
  margin: 0 0 10px 0;
}

.footer__menu li i {
  width: 15px;
  margin: 0 10px 0 0;
}

.footer__menu li a {
  color: inherit;
}

.location_pick {
  background-color: #eaeaea;
  height: 50px;
  -webkit-box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #353535;
}

.location_pick span {
  font-weight: 400;
}

.location_pick i {
  padding-right: 18px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
  background-color: #f6f6f6;
  text-align: center;
}

.hero__description {
  margin: 20px 0 35px 0;
}

.hero__btn {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.hero__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fonctionnement {
  width: 100%;
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fonctionnement h2 {
  margin: 0 0 30px 0;
}

.fonctionnement__steps {
  counter-reset: my-awesome-counter;
  list-style: none;
}

.fonctionnement__step {
  margin: 0 0 0.5rem 0;
  counter-increment: stepnumbers;
  position: relative;
  width: 100%;
  padding: 25px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 20px;
  font-weight: 400;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.fonctionnement__step i {
  color: #7e7e7e;
  margin: 0 20px 0 0;
  font-size: 18px;
}

.fonctionnement__step:hover {
  background-color: #f5edff;
}

.fonctionnement__step:hover > i {
  color: #9356DC;
}

.fonctionnement__step::before {
  content: counter(stepnumbers);
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: -10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  top: 25px;
  background: #9356DC;
  border-radius: 50%;
  text-align: center;
}

.restaurants {
  padding: 50px 15px;
  background-color: #f6f6f6;
}

.restaurants h2 {
  margin: 0 0 30px 0;
}

.restaurants .restaurantsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.restaurants .restaurantsList__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  position: relative;
}

.restaurants .restaurantsList__card .new_badge {
  background-color: #99E2D0;
  color: #278870;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
  border-radius: 5px;
}

.restaurants .restaurantsList__card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
}

.restaurants .restaurantsList__card .card__info {
  padding: 15px;
}

.restaurants .restaurantsList__card .card__info h3 {
  margin-bottom: 5px;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant__coverphoto {
  height: 260px;
}

.restaurant img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.restaurant .menu {
  background-color: #f6f6f6;
  border-radius: 42px;
  margin-top: -42px;
  padding: 42px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.restaurant .menu__title {
  font-family: "Shrikhand", cursive;
}

.restaurant .menu__subtitle {
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
}

.restaurant .menu__subtitle::before {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -5px;
}

.restaurant .food {
  background-color: #fff;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.restaurant .food__price {
  float: right;
  margin-right: 5px;
}

.restaurant .food__info {
  padding: 12px 15px;
  width: 100%;
}

.restaurant .food__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  background-color: #99E2D0;
  height: 100%;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.restaurant .food__checked i {
  color: #fff;
  font-size: 22px;
  visibility: hidden;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 200ms;
  transition: 200ms;
}

.restaurant .food a {
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant .food a:hover > .food__checked {
  width: 60px;
}

.restaurant .food a:hover > .food__checked i {
  visibility: visible;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.btn {
  display: block;
  background: #ad5fdc;
  background: -webkit-gradient(linear, left bottom, left top, from(#ad5fdc), to(#ee74da));
  background: linear-gradient(0deg, #ad5fdc 0%, #ee74da 100%);
  color: #fff;
  padding: 15px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
