.location_pick {
    background-color: #eaeaea;
    height: 50px;
    @include shadow_inside;
    @include flex_center;
    color: #353535;
    & span {
        font-weight: 400;
    }
    & i {
        padding-right: 18px;
    }
}

.hero {
    @include flex_column;
    padding: 40px;
    align-items: center;
    height: 290px;
    background-color: $bg_color2;
    text-align: center;
    &__description {
        margin: 20px 0 35px 0;
    }
    &__btn {
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.fonctionnement {
    width: 100%;
    padding: 50px 15px;
    @include flex_column;
    & h2 {
        @include section_title;
    }
    &__steps {
        counter-reset: my-awesome-counter;
        list-style: none;
    }
    &__step {
        margin: 0 0 0.5rem 0;
        counter-increment: stepnumbers;
        position: relative;
        width: 100%;
        padding: 25px;
        background-color: $bg_color2;
        margin-bottom: 20px;
        border-radius: $radius;
        font-weight: 400;
        @include shadow_outside;
        & i {
            color: $icon_color;
            margin: 0 20px 0 0;
            font-size: 18px;
        }
        &:hover {
            background-color: $bg_card_hower;
            >i {
                color: $primary_color;
            }
        }
        &::before {
            content: counter(stepnumbers);
            color: $text_color2;
            font-size: 14px;
            position: absolute;
            left: -10px;
            line-height: 20px;
            width: 20px;
            height: 20px;
            top: 25px;
            background: $primary_color;
            border-radius: 50%;
            text-align: center;
        }
    }
}

.restaurants {
    padding: 50px 15px;
    background-color: $bg_color2;
    h2 {
        @include section_title;
    }
    .restaurantsList {
        @include flex_column;
        row-gap: 20px;
    }
    .restaurantsList__card {
        @include flex_column;
        border-radius: $radius;
        overflow: hidden;
        @include shadow_outside;
        text-decoration: none;
        color: inherit;
        position: relative;
        .new_badge {
            @include new_badge;
        }
        & img {
            object-fit: cover;
            height: 175px;
        }
        .card__info {
            padding: 15px;
            position: relative;
            & h3 {
                margin-bottom: 5px;
            }
            & i {
                right: 25px;
                top: 25px;
                @include heart;
            }
        }
    }
}