        @mixin shadow_inside {
            box-shadow: inset 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
        }
        
        @mixin shadow_outside {
            box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
        }
        
        @mixin btn {
            display: block;
            background: rgb(173, 95, 220);
            background: linear-gradient(0deg, rgba(173, 95, 220, 1) 0%, rgba(238, 116, 218, 1) 100%);
            color: #fff;
            padding: 15px 20px;
            border-radius: 25px;
            border: none;
            text-align: center;
            @include shadow_outside;
        }
        
        @mixin flex_column {
            display: flex;
            flex-direction: column;
        }
        
        @mixin flex_center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        @mixin fill_logo {
            filter: invert(97%) sepia(100%) saturate(2%) hue-rotate(226deg) brightness(103%) contrast(101%);
        }
        
        @mixin section_title {
            margin: 0 0 30px 0;
        }
        
        @mixin new_badge {
            background-color: $tertiary_color;
            color: (darken($tertiary_color, 40%));
            position: absolute;
            right: 15px;
            top: 15px;
            padding: 5px 10px;
            border-radius: 5px;
        }
        
        @mixin heart {
            position: absolute;
            font-size: 28px;
            cursor: pointer;
            &:hover {
                background-image: linear-gradient($primary_color, $secondary_color);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 900;
            }
        }