$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$icon_color: #7e7e7e;
$bg_color1: #fff;
$bg_color2: #f6f6f6;
$bg_color3: #353535;
$bg_card_hower: #f5edff;
$text_color1: #000;
$text_color2: #fff;
$radius: 20px;
$coverphoto_height: 260px;
$menu_border_radius: 42px;
$menu_margin_top: -42px;
$menu_padding: 42px 15px;
$f_familly: 'Roboto',
sans-serif;
$menu_title_font: 'Shrikhand',
cursive;
$desktop: 992px;